* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
}

h1 {
    font-size: 40px;
}

p {
    margin: 10px;
}

h2 {
    font-size: 40px;
}

.first {
    color: brown;
    font-size: 20px;
}

#your-details {
    background-color: rgb(206, 153, 153);
    border: 2px solid #444;
    width: 300px;
    padding: 10px;
}

input,
buttton {
    padding: 1px;
    font-size: 16px;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
}

#your-details h2 {
    color: rgb(255, 0, 0);
}

#course-img {
    width: 300px;
}